html,
body {
  margin: 0;
  padding: 0;
  background: #f9f9f9;
  font-family: arial, sans-serif;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: normal;
  margin: 0 0 0.5em 0;
}

button {
  padding: 0.5em 1em;
  text-align: center;
  background: #0078d7;
  color: #fff;
  cursor: pointer;
  border: 0;
}

button:hover {
  background: #2488d8;
}

/* Main */

.wrap {
  height: 100%;
  position: relative;
}

.ticker {
  display: inline-block;
  position: relative;
  width: 1rem;
  height: 1rem;
  border: 1px solid #fff;
  border-radius: 50%;

  .bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
    border-right: 1px solid #fff;
    box-sizing: border-box;
    transform-origin: 100% 100%;
    animation: ticker 30s infinite steps(30);
  }

  @keyframes ticker {
    100% {
      transform: rotateZ(360deg);
    }
  }
}

.header {
  background: linear-gradient(#0c6ea8, #099cc1);
  color: #fff;
  padding: 0.5em;
  display: flex;

  .logo {
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
    letter-spacing: 2px;
    display: inline-block;
    flex-grow: 1;
    align-self: center;
  }
  .controls {
    display: flex;
    position: relative;

    .open-options {
      margin: 0 1rem 0 0;
      padding: 0.3rem 0.5rem;
      align-self: center;
      cursor: pointer;
      border-radius: 5px;
      &:hover {
        background: #fff;
        color: #0c6ea8;
      }
    }

    .account {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      overflow: hidden;
      cursor: pointer;
      border: 1px solid #fff;
      position: relative;

      img {
        width: auto;
        height: 100%;
      }
    }
    .account-details {
      position: absolute;
      right: 2rem;
      top: 100%;
      padding: 1rem;
      text-align: left;
      border: 1px solid #eee;
      background: #fff;
      color: #000;
      border-radius: 5px 0 5px 5px;
      z-index: 2;
      width: 200px;
    }
  }
}

.main {
  height: calc(100% - 3rem);
  position: relative;
  display: flex;
  overflow: hidden;
}

.page {
  height: 100%;
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;

  .page-options {
    margin: 1rem auto;
    position: relative;
    transition: all 0.2s ease;
    height: 0;
    padding: 0 1rem;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    background: #fff;

    border-radius: 5px;

    .options {
      border: 1px solid #eee;
      width: calc(100% - 2rem);
      box-sizing: border-box;
    }

    &.toggle {
      height: auto;
      padding: 1rem;
      overflow: initial;
    }

    .close-options {
      float: right;
      padding: 0.5rem;
      text-align: center;
      cursor: pointer;
      border-radius: 5px;
      &:hover {
        background: #999;
      }
    }
  }

  .list-controls {
    display: flex;
    position: relative;
    padding: 0.5rem;

    .row-size {
      text-align: right;
      flex-grow: 1;

      div {
        display: inline-block;
        cursor: pointer;
        padding: 5px;
        border-radius: 4px;

        &:hover {
          background: #999;
          color: #fff;
        }
      }
    }
  }

  .list {
    position: relative;
    height: calc(100% - 2rem);
  }

  .list-header {
    background: #999;
    color: #fff;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 5px 5px 0 0;

    div {
      width: calc(100% / 5);
      padding: 5px;
      text-align: center;
    }
  }

  .list-results {
    overflow: auto;
    padding: 29px 0 0 0;
    max-height: calc(100% - 2.7rem);
    border-radius: 5px;
    border: 1px solid #999;

    background: #fff;

    &::-webkit-scrollbar {
      width: 5px;
      background: #ddd;
    }

    &::-webkit-scrollbar-track {
      background: #ddd;
    }

    &::-webkit-scrollbar-thumb {
      background: #999;
    }

    .item {
      transition: all 0.2s ease;
      display: flex;
      border-bottom: 1px solid #eee;
      display: none;

      div {
        width: calc(100% / 5);
        padding: 5px;
        text-align: center;
        transition: all 0.2s ease;
        font-size: 0.8rem;

        &:first-child {
          background: #f9f9f9;
          text-transform: capitalize;
        }
      }

      &:last-child {
        border-bottom: none;
      }

      &:hover {
        background: #f9f9f9;

        div:first-child {
          background: #eee;
        }
      }
    }

    &.medium .item div {
      padding: 10px;
      font-size: 1rem;
    }
    &.large .item div {
      padding: 15px;
      font-size: 1.2rem;
    }
  }
}

.item-details {
  width: 0;
  background: #fff;
  padding: 2rem 0;
  transition: all 0.2s ease;
  box-sizing: border-box;
  text-align: left;
  overflow: hidden;
  flex-grow: 0;
  height: 100%;

  
  div {
    display: block;

    &:first-child {
      font-weight: bold;
    }
  }

  &.toggle {
    width: 20%;
    padding: 2rem;
    border-left: 1px solid #999;
  }
}
